$columns-break: 800px;

.column {
  margin-bottom: vr(2);
  margin-bottom: rvr(2);
}

.columns:not(:first-child) {
  margin-top: vr(2);
  margin-top: rvr(2);
}

@media (min-width: $columns-break) {
  .columns {
    display: flex;
    margin: 0 vr(-.5);
    margin: 0 rvr(-.5);

    &.is-reversed {
      flex-direction: row-reverse;
    }
  }

  .column {
    flex-grow: 1;
    flex-shrink: 1;

    margin: 0 vr(.5);
    margin: 0 rvr(.5);
    width: 100%;

    &.is-fixed {
      flex-grow: 0;
      width: auto;
    }

    &.is-a-third {
      width: 50%;
    }

    &.is-two-fifths {
      width: 60%;
    }

    & > .content {
      margin-top: vr(1);
      margin-top: rvr(1);
    }
  }
}
