$content-fonts-large: 800px;

.content {
  & > * {
    margin-bottom: vr(1);
    margin-bottom: rvr(1);

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    font-size: 30px;
    line-height: vr(2);
    line-height: rvr(2);
  }

  p, small {
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;   
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
  }

  &.is-large {
    h2 {
      font-size: 40px;
      line-height: vr(2);
      line-height: rvr(2);
    }

    p {
      font-size: 120%;
      line-height: vr(1.5);
      line-height: rvr(1.5);
    }
  }

  &.is-focused {
    p {
      margin-left: auto;
      margin-right: auto;
      max-width: 36em;
    }
  }

  strong {
    font-weight: 600;
  }
}

@media (min-width: $content-fonts-large) {
  .content {
    h2 {
      font-size: 40px;
    }

    &.is-large {
      h2 {
        font-size: 60px;
        line-height: vr(3);
        line-height: rvr(3);
      }
    }
  }
}
