.contact-detail {
  display: flex;
  align-items: top;
  font-weight: 400;

  .icon {
    align-items: center;
    background: $highlight-color;
    border-radius: 50%;
    color: $secondary-color;
    display: inline-flex;
    height: vr(1.2);
    height: rvr(1.2);
    justify-content: center;
    margin: vr(-.1) vr(.5) vr(-.1) vr(-.1);
    margin: rvr(-.1) rvr(.5) rvr(-.1) rvr(-.1);
    width: vr(1.2);
    width: rvr(1.2);
  }

  svg {
    height: 1em;
    fill: $secondary-color;
    //stroke-width: 1.5px;
    //stroke-linejoin: miter;
    //stroke-linecap: butt;
  }
}
