@if $debug {
  body {
    // Show debug baseline
    background-image: linear-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 1px, transparent);

    background-size: 1em vr(1);
    background-size: 1em rvr(1);
    background-position: 0 -1px;
    background-repeat: repeat;
  }

  .container {
    border-left: 1px dotted rgba(0, 0, 0, 0.3);
    border-right: 1px dotted rgba(0, 0, 0, 0.3);
  }

  .nav, .nav-is-transparent {
    background: rgba(0, 0, 0, 0.1) !important;
  }

  .intro {
    background: rgba(0, 0, 0, 0.1);
    height: auto;
  }

  .section {
    &.is-grey {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &.is-dark {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  .content {
    small {
      font-size: 1em;
    }

    &.is-large {
      p {
        line-height: vr(1);
        line-height: rvr(1);
      }
    }
  }

  .image-stack {
    img {
      height: vr(4);
      height: rvr(4);
      object-fit: cover;
    }
  }

  img.is-decorated {
    height: vr(10) !important;
    height: rvr(10) !important;
    object-fit: cover;
  }

  .detail-header span {
    border-bottom: none !important;
  }

  .faq-question {
    border: none;
    padding: vr(.5) vr(1.5) vr(.5) vr(.5);
    padding: rvr(.5) rvr(1.5) rvr(.5) rvr(.5);
  }

  iframe.map {
    height: vr(10);
    height: rvr(10);
  }

  @media (min-width: 1000px) {
    .intro {
      padding: vr(10) 0;
      padding: rvr(10) 0;
    }
  }

  @media (min-width: $highlight-columns-break) {
    .highlight-image img {
      height: vr(16);
      height: rvr(16);
    }
  }
}
