$details-large-font-break: 550px;
$details-column-break: 950px;

.details {
  margin: 0;
}

.detail {
  align-items: flex-start;
  content: "";
  display: flex;
  clear: both;
  margin-bottom: vr(1);
  margin-bottom: rvr(1);
}

.detail-header {
  @include header-font;

  text-align: right;
  flex: 1 1 33%;

  span {
    border-bottom: 1px solid $highlight-color;
    display: inline-block;
  }
}

.detail-info {
  flex: 1 1 66%;
  margin: 0;
  padding-left: vr(1);
  padding-left: rvr(1);

  strong {
    font-weight: 600;
  }
}

@media (min-width: $details-large-font-break) {
  .details {
    font-size: 18px;
  }
}

@media (min-width: $details-column-break) {
  .details {
    display: flex;
    justify-content: space-between;
    margin: 0 rvr(-1);
    margin: 0 rvr(-1);
  }

  .detail {
    display: block;
    margin: 0 vr(.5);
    margin: 0 rvr(.5);
  }

  .detail-header {
    text-align: left;

    span {
      margin-bottom: vr(.7);
      margin-bottom: rvr(.7);
      padding-bottom: vr(.3);
      padding-bottom: rvr(.3);
    }
  }

  .detail-info {
    padding-left: 0;
  }
}

@media (min-width: #{$details-column-break + 24px}) {
  .details {
    margin: 0 rvr(-.5);
    margin: 0 rvr(-.5);
  }
}
