.faq-question {
  @include header-font;

  background-color: $secondary-color;
  border-top: vr(.1) solid #fff;
  border-bottom: rvr(.1) solid #fff;
  color: #333;
  display: block;
  font-size: 18px;
  text-decoration: none;
  padding: vr(.4) vr(1.5) vr(.4) vr(.5);
  padding: rvr(.4) rvr(1.5) rvr(.4) rvr(.5);
  position: relative;
  width: 100%;

  &:hover {
    background-color: #f0f0f0;
  }

  &:after {
    position: absolute;
    top: 0;
    right: vr(.5);
    right: rvr(.5);
    bottom: 0;

    display: inline-flex;
    align-items: center;
    content: "+";
    font-size: 22px;
  }
}
