form {
}

.fields {
  border: none;
  margin-bottom: vr(2);
  margin-bottom: rvr(2);
  padding: 0;
}

legend {
  @include header-font;

  font-size: 18px;
  margin-bottom: vr(1);
  margin-bottom: rvr(1);
}

.field {
  margin-bottom: vr(1);
  margin-bottom: rvr(1);

  label {
    display: block;
    margin-bottom: vr(.5);
    margin-bottom: rvr(.5);
  }

  .input, .textarea {
    background-color: #fff;
    border: 1px solid $secondary-color;
    color: #333;
    padding: vr(.2);
    padding: rvr(.2);
    width: 100%;

    &:focus {
      border-color: #ff7700;
    }
  }

  .textarea {
    height: vr(5.5);
    height: rvr(5.5);
  }
}

.button {
  border: 1px solid $highlight-color;
  background: $highlight-color;
  color: $secondary-color;
  font-weight: 600;
  height: vr(2);
  height: rvr(2);
  padding: 0 vr(3);
  padding: 0 rvr(3);
  transition: all .15s ease-in;

  &:hover {
    background: $primary-color;
  }
}
