$highlight-columns-break: 900px;
$highlight-title-large: 1100px;

.highlight {
  margin: vr(3) 0;
  margin: rvr(3) 0;
}

.highlight-title {
  font-size: 40px;
  line-height: vr(2);
  line-height: rvr(2);
  margin-bottom: vr(1);
  margin-bottom: rvr(1);

  em {
    color: $highlight-color;
  }
}

.highlight-image {
  margin: 0 vr(-.5);
  margin: 0 rvr(-.5);

  img {
    border: vr(.5) solid #fff;
    border: rvr(.5) solid #fff;
    box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.09);
    display: block;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
  }
}

.highlight-content {
  margin-top: vr(1);
  margin-top: rvr(1);
}


@supports (object-fit: cover) {
  .highlight-image {
    img {
      height: vr(10);
      height: rvr(10);
      object-fit: cover;
    }
  }

  @media (min-width: 600px) {
    .highlight-image {
      img {
        height: vr(12);
        height: rvr(12);
      }
    }
  }
}


@media (min-width: $highlight-columns-break) {
  .highlight {
    margin: vr(4) 0;
    margin: rvr(4) 0;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    & + & {
      margin-top: vr(7);
      margin-top: rvr(7);
    }
  }

  .highlight-title, .highlight-content {
    float: right;
    width: 48%;
    width: calc(50% - var(--baseline) * 1rem);
  }

  .highlight-title {
    margin-top: vr(1);
    margin-top: rvr(1);
    text-align: left;
  }

  .highlight-content {
    margin-top: 0;
  }

  .highlight-image {
    width: 50%;
    float: left;

    img {
      width: 100%;
      height: auto;
    }
  }

  .highlight.is-reversed {
    .highlight-title, .highlight-content {
      float: left;
    }

    .highlight-title {
      text-align: right;
    }

    .highlight-image {
      float: right;
    }
  }
}

@media (min-width: $highlight-title-large) {
  .highlight-title {
    font-size: 70px;
    line-height: vr(3);
    line-height: rvr(3);
    margin-bottom: vr(2);
    margin-bottom: rvr(2);
  }

  .highlight-content {
    padding-right: 10%;
  }

  .highlight.is-reversed {
    .highlight-content {
      padding-right: 0;
      padding-left: 10%;
    }
  }
}
