$image-stack-max-width: 600px;

.image-stack {
  margin: 0 vr(-.5);
  margin: 0 rvr(-.5);
  max-width: $image-stack-max-width;
}

.image-stack-content {
  align-items: flex-start;
  border: vr(.5) solid #fff;
  border: rvr(.5) solid #fff;
  border-right: none;
  box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.09);
  display: flex;
  width: 100%;

  img {
    display: block;
    margin-right: vr(.5);
    margin-right: rvr(.5);
    flex-grow: 1;
    flex-shrink: 1;
    width: 30%;
    height: auto;
  }
}

@media (min-width: $columns-break) {
  .image-stack {
    margin: 0;
  }

  .image-stack-content {
    border-right: vr(.5) solid #fff;
    border-right: rvr(.5) solid #fff;
    display: block;
    width: vr(10);
    width: rvr(10);

    img {
      margin-right: 0;
      margin-bottom: vr(.5);
      margin-bottom: rvr(.5);
      width: 100%;
      height: 100%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
