.intro {
  background-image: url('/images/phnom_tamao_background.jpg');
  background-size: cover;
  background-position: 60% 100%;
  background-repeat: no-repeat;
  color: #fff;
  padding: vr(5) 0 vr(4) 0;
  padding: rvr(5) 0 rvr(4) 0;
  position: relative;

  &:before {
    content: "";
    display: block;
    pointer-events: none;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url('/images/logo-light-divider.svg');
    background-size: 4em;
    background-repeat: no-repeat;
    background-position: 50% 100%;
  }

  &:after {
    content: "";
    display: block;
    pointer-events: none;

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNIDAsMCA1MCwxMDAgMTAwLDAgMTAwLDEwMCAwLDEwMCBaIiBzdHlsZT0iZmlsbDojZjlmOWY5IiAvPjwvc3ZnPg==");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    height: 10%;
  }
}

.intro-title {
  font-size: vr(2);
  font-size: rvr(2);
  font-weight: 700;
  line-height: 1;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, .5);
}

.intro-subtitle {
  margin: vr(1) 0 vr(2) 0;
  margin: rvr(1) 0 rvr(2) 0;
  font-size: rvr(.85);
  font-weight: 400;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, .5);
}

.intro-warning {
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.55);
  background-color: $primary-color;
  padding: vr(.5);
  padding: rvr(.5);
  font-size: rvr(.85);
  margin: 0 auto;
  max-width: 26em;

  strong {
    font-weight: 400;
    font-size: rvr(1);
  }
}

@media (min-width: 700px) {
  .intro {
    background-position: 30% 100%;
  }
}

@media (min-width: 1300px) {
  .intro {
    background-position: 0 100%;
  }
}

@media (min-width: 1000px) {
  .intro {
    align-items: center;
    display: flex;
    height: 80vh;
    padding: 0;
  }

  .intro-title {
    font-size: vr(5);
    font-size: rvr(5);
    line-height: 1;
  }

  .intro-subtitle {
    padding: 0 vr(10);
    padding: 0 rvr(10);
  }
}
