$nav-full-break: 860px;
$nav-extra-line-break: 1000px;

.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  background-color: #fff;
  box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
  display: flex;
  height: vr(2);
  height: rvr(2);
  transition: all .25s ease-in;
  z-index: 10;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.has-return {
    .container {
      justify-content: flex-start;
    }
  }

  &.is-transparent {
    background-color: transparent;
    box-shadow: none;

    .nav-header {
      opacity: 0.0;
    }
  }
}

.nav-header {
  @include header-font;

  font-weight: 700;
  font-size: 1.6rem;
  opacity: 1.0;
  transition: opacity .25s ease-in;
}

.nav-mobile {
  cursor: pointer;
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  height: vr(2);
  height: rvr(2);
  margin-right: vr(-1);
  margin-right: rvr(-1);
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  width: vr(2);
  width: rvr(2);

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: vr(1.25);
    width: rvr(1.25);
    background: $text-color;
    border-radius: 9px;
    border: 1px solid #fff;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

    body.has-nav-visible & {
    }

    &:nth-child(1) {
      top: 13px;
    }

    &:nth-child(2), &:nth-child(3) {
      top: 22px;
    }

    &:nth-child(4) {
      top: 31px;
    }

    body.has-nav-visible &:nth-child(1) {
      top: 22px;
      width: 0%;
      left: vr(.75);
      left: rvr(.75);
    }

    body.has-nav-visible &:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    body.has-nav-visible &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    body.has-nav-visible &:nth-child(4) {
      top: 22px;
      width: 0%;
      left: vr(.75);
      left: rvr(.75);
    }
  }
}

.nav-content {
  position: absolute;
  top: vr(2);
  top: rvr(2);
  right: 0;

  background-color: $text-color;
  display: block;
  opacity: 0.0;
  pointer-events: none;
  transition: .25s ease-in-out;
  width: 260px;
}

.nav-items {
  padding-top: vr(.5);
  padding-top: rvr(.5);

  a {
    border-left: 4px solid transparent;
    color: $secondary-color;
    display: block;
    text-decoration: none;
    font-weight: 700;
    padding: vr(.5) vr(1);
    padding: rvr(.5) rvr(1);

    &:hover {
      border-color: $secondary-color;
    }

    &.is-current {
      color: $highlight-color;
      border-color: $highlight-color !important;
    }
  }
}

.nav-contact {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  padding: vr(.5) 0;
  padding: rvr(.5) 0;
  margin-top: vr(.5);
  margin-top: rvr(.5);

  a {
    color: $secondary-color;
    display: block;
    font-weight: 400;
    padding: vr(.5) vr(1);
    padding: rvr(.5) rvr(1);

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav-return {
  align-items: center;
  color: $primary-color;
  display: inline-flex;
  height: vr(2);
  height: rvr(2);
  justify-content: center;
  float: left;
  font-size: 1.6rem;
  margin-left: vr(-1);
  margin-left: rvr(-1);
  text-decoration: none;
  width: vr(2);
  width: rvr(2);

  &:hover {
    background-color: $secondary-color;
  }
}

body.has-nav-visible {
  .nav-content {
    opacity: 1.0;
    pointer-events: all;
  }
}

@media (min-width: $nav-full-break) {
  .nav {
  }

  .nav-mobile {
    display: none;
  }

  .nav-content {
    background-color: transparent;
    display: block;
    opacity: 1.0;
    pointer-events: all;
    position: relative;
    top: 0;
    width: 100%;
  }

  .nav-items {
    display: flex;
    justify-content: flex-end;
    padding-top: rvr(.4);

    a {
      border-left: none;
      border-bottom: 2px solid transparent;
      color: $text-color;
      font-size: .95em;
      padding: 0 vr(.5);
      padding: 0 rvr(.5);
      text-shadow: 1px 1px 0 #fff;
      text-transform: uppercase;

      &:hover {
        border-color: $text-color;
      }
    }
  }

  .nav-contact {
    display: none;
  }
}

@media (min-width: $nav-extra-line-break) {
  .nav {
    height: vr(3);
    height: rvr(3);
  }

  .nav-header {
    font-size: 2rem;
  }

  .nav-return {
    height: vr(3);
    height: rvr(3);
    width: vr(3);
    width: rvr(3);
  }
}

@media (min-width: #{$container-max-width + 20px}) {
  .nav-return {
    margin-left: 0;
  }
}
