.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;

  cursor: pointer;
  display: flex;
  opacity: 0.0;
  pointer-events: none;
  transition: opacity .25s ease-out;

  background-color: rgba(0, 0, 0, 0.2);
  justify-content: center;
  align-items: center;

}

.overlay-wrapper {
  background-color: #fff;
  border: 1px solid #f0f0f0;
  cursor: default;
  position: relative;
}

.overlay-content {
  max-width: 900px;
  max-height: 70vh;
  overflow-y: auto;
  padding: vr(1);
  padding: rvr(1);
}

.overlay-header {
  background-color: #f0f0f0;

  h2 {
    align-items: center;
    display: flex;
    font-size: 20px;
    padding: 0 vr(.5);
    padding: 0 rvr(.5);
    min-height: vr(2);
    min-height: rvr(2);
  }
}

.overlay-close {
  float: left;
  width: vr(2);
  width: rvr(2);
  height: vr(2);
  height: rvr(2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: #e9e9e9;
  }
}

body.has-overlay-visible {
  overflow: none;

  .main-content {
    pointer-events: none;
  }

  .overlay {
    pointer-events: all;
    opacity: 1.0;
  }
}
