$section-large-padding-break: 750px;

.section {
  padding: vr(3) 0;
  padding: rvr(3) 0;

  &.is-grey {
    background-color: $secondary-color;
  }

  &.is-dark {
    background-color: $primary-color;
    color: $secondary-color;
  }

  &:not(.is-grey) + .section:not(.is-grey):not(.is-dark) {
    padding-top: 0;
  }
}

.nav + .section {
  padding-top: vr(4);
  padding-top: rvr(4);
}

@media (min-width: $section-large-padding-break) {
  .section {
    padding: vr(4) 0;
    padding: rvr(4) 0;
  }
}

@media (min-width: $nav-extra-line-break) {
  .nav + .section {
    padding-top: vr(6);
    padding-top: rvr(6);
  }
}
