$debug: false;

$primary-color: #333;
$secondary-color: #f9f9f9;
$highlight-color: #ff7700;

$text-color: $primary-color;

$base-font-size: 1em;
$base-line-height: 1.4;

$container-max-width: 1200px;

@mixin base-font {
  font-family: 'Open Sans', sans-serif;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

@mixin header-font {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-rendering: geometricPrecision !important;
}

@function rvr($multiple) {
  @return calc(var(--baseline) * #{$multiple}rem);
}

@function vr($multiple) {
  @return $base-line-height * $multiple * 1rem;
}


