@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Playfair+Display:400,400i,700');

@import "reset";
@import "settings";

@import "columns";
@import "contact";
@import "content";
@import "details";
@import "faq";
@import "form";
@import "highlight";
@import "image_stack";
@import "intro";
@import "nav";
@import "overlay";
@import "reviews";
@import "section";

@import "debug";

:root {
  --baseline: #{$base-line-height};
  line-height: #{$base-line-height}rem;
  line-height: calc(var(--baseline) * 1rem);
}

@media (min-width: 30em) {
  :root {
    --baseline: #{$base-line-height + 0.1};
  }
}

@media (min-width: 40em) {
  :root {
    --baseline: #{$base-line-height + 0.2};
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @include base-font;

  background-color: #fff;
  color: $text-color;
  font-size: $base-font-size;
}

h1, h2 {
  @include header-font;
}

a {
  color: $highlight-color;

  &:hover {
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
  max-width: $container-max-width;
  padding: 0 vr(1);
  padding: 0 rvr(1);
  width: 100%;

  &.is-single-column {
    max-width: vr(16);
    max-width: rvr(16);

    @media (min-width: $columns-break) {
      & {
        max-width: $container-max-width;
      }
    }
  }

  &.is-tiny {
    max-width: 45em;
  }

  &.is-small {
    max-width: 55em;
  }
}

.has-text-centered {
  text-align: center;
}

img.is-decorated {
  border: vr(.5) solid #fff;
  border: rvr(.5) solid #fff;
  box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.09);
  display: block;
  height: vr(8);
  height: rvr(8);
  margin: 0 auto;
  max-width: $image-stack-max-width;
  object-fit: cover;
  width: 100%;

  @media (min-width: $columns-break) {
    & {
      height: auto;
    }

    .column & {
      max-width: 100%;
    }
  }
}

.map {
  border: vr(.5) solid #fff;
  border: rvr(.5) solid #fff;
  box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.09);
}

@media (min-width: #{$container-max-width + 20px}) {
  .container {
    padding: 0;
  }
}
