section#about.section.is-grey
  .container
    .content
      h2 About us

    .columns.is-reversed
      .column
        =image_tag "lucky_as_bridesmaid.jpg", class: 'is-decorated', width: 1200, height: 800

      .column.is-two-fifths
        .content
          p
            |
              This is us, hello! We are a Cambodian-Dutch couple.

          P
            |
              Vathana has been a big part of these tours since the beginning and was the sole owner
              for a while. One faithful day in 2010, Aram joined the tour as a backpacker and his
              life has never been the same. He hardly remembers seeing animals on his first day, he
              was so distracted by the tourguide. And while she won't admit it, Vathana was also
              distracted that day and was bungling her speech.

          p
            |
              Since the Phnom Tamao Wildlife Rescue Center is the place where we met, it's very
              special to us. For our wedding, we wanted to invite Lucky the Elephant to Phnom Penh
              to be our bridesmaid, but that proved too difficult. So we did the next best thing!

