section#booknow.section.is-dark
  .container.is-single-column
    .content
      h2 Make a booking

      form name="booking" action="/thanks.html" data-netlify="true"
        .columns
          fieldset.fields.column
            legend Who are you?

            .field
              label for="name" Name
              input#name.input type="text" name="name"

            .field
              label for="email" Email
              input#email.input type="email" name="email"

            .field
              label for="date" Date
              input#date.input type="date" name="date"

          fieldset.fields.column
            legend How many people are coming?

            .field
              label for="pax_adults" Adults
              input#pax_adults.input type="number" name="pax_adults" value=0

            .field
              label for="pax_children" Children (under 12 yrs)
              input#pax_children.input type="number" name="pax_children" value=0

            .field
              label for="pax_babies" Babies (under 2 yrs)
              input#pax_babies.input type="number" name="pax_babies" value=0

          fieldset.fields.column
            legend Some extra information

            .field
              label for="vegetarian" Number of Vegetarian Lunches
              input#vegetarian.input type="number" name="vegetarian"

            .field
              label for="comments" Additional Comments
              textarea#comments.textarea name="comments"


        .has-text-centered
          input.button type="submit" value="Book now"
