section#contact.section
  .container
    .columns
      .column.content.is-two-fifths
        h2 Contact Us

        .contact-detail
          .icon = inline_svg 'icon_email'
          a href="mailto:hello@betelnut.tours" hello@betelnut.tours

        .contact-detail
          .icon = inline_svg 'icon_phone'
          a href="tel:+85512619924" +855 (0)12 619 924

        .contact-detail
          .icon = inline_svg 'icon_location'
          span
            | Mad Monkey (inside restaurant)
            br
            a href="https://goo.gl/maps/Sj1Ef3FbUD1fAVk28" #26, street 302, Phnom Penh

        p If you want to make a booking, just <a href="#booknow">fill in the form</a> or send us an email.

        p
          |
            For any last minute bookings or questions, please call us instead, so you can be sure
            that you reached us in time.

      .column.content
        h2#map Pickup Location

        iframe.map width="100%" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7817.882675764141!2d104.92171341733143!3d11.556063185636049!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310951256a91a6c5%3A0xd9e2060c0db4420c!2sMad%20Monkey!5e0!3m2!1sen!2skh!4v1567925800530!5m2!1sen!2skh" frameborder="0" allowfullscreen="allowfullscreen"
