section#details.section.section.is-grey
  .container
    dl.details
      .detail
        dt.detail-header
          span Price
        dd.detail-info
          | <strong>$40</strong> for adults
          br
          | <strong>$35</strong> for children under 12

      .detail
        dt.detail-header
          span Times
        dd.detail-info
          | Pickup at <strong>9:45am</strong>
          br
          | Return around <strong>5—5:30pm</strong>

      .detail
        dt.detail-header
          span Days
        dd.detail-info
          | Tuesdays, Thursdays
          br
          | & Saturdays

      .detail
        dt.detail-header
          span Pickup&nbsp;Point
        dd.detail-info
          | Mad&nbsp;Monkey, Phnom&nbsp;Penh
          br
          a href="#map" See map
