section.section
  .container
    .columns.is-reversed
      .column.is-a-third
        =image_tag 'luckys_trunk.jpg', class: 'is-decorated', width: 600, height: 474

      .column
        .content
          h2 Frequently Asked Questions

          .faq
            - data.faq.each do |id, faq|
              = link_to(faq.title,
                "faq/#{id}.html",
                class: 'faq-question',
                'data-modal-content': URI.encode(Kramdown::Document.new(faq.content).to_html),
                'data-modal-title': faq.title)

          p Need to know something else? Just <a href="#contact">contact&nbsp;us</a>.
