#thetour

section.highlight
  .container
    h2.highlight-title Personal <em>&</em> Knowledgeable

    .highlight-image
      = image_tag 'petting_suarez.jpg', width: 600, height: 400

    .highlight-content.content
      p
        |
          We have extensive knowledge of the animals and their behaviour. We know when they are
          active and where they like to hide. We know which gibbons are cheeky hair pullers and
          which tigers are likely to spray on you.

      p
        |
          Don't just learn the basic facts of the animals. We can tell you how they got here, how
          they are being cared for and what will happen to them.

section.highlight.is-reversed
  .container
    h2.highlight-title Get <em>up-close</em> with the animals

    .highlight-image
      = image_tag 'crocodile.jpg', width: 600, height: 400

    .highlight-content.content
      p
        |
          Some gibbons just love backrubs, so give it to them. Pet deers, feed otters and probably
          be chased around by monkeys.

      p
        |
          Unlike a zoo, you will be able to get extremely close to a lot of the animals, but in a
          responsible way. Animals are never handled or forced in any way, but most animals are
          happy to come close by themselves. 

      small
        em
          |
            (Don't worry about getting up-close with the crocodile in the picture. Worry about it
            once you actually get to the park.)

section.highlight
  .container
    h2.highlight-title A delicious <em>homecooked lunch</em>

    .highlight-image
      = image_tag 'lunch.jpg', width: 600, height: 400

    .highlight-content.content
      P
        |
          Our famous lunch has been praised numerous times. It's just really good! We prepare the
          food at home each time before the tour. There are a few different dishes for you to try,
          including both vegetarian and non-vegetarian. And having a coconut while lying in a
          hammock is one our favorite times of the day.

section.highlight.is-reversed
  .container
    h2.highlight-title Leave the city for some <em>fresh air</em>

    .highlight-image
      = image_tag 'area.jpg', width: 600, height: 400

    .highlight-content.content
      p
        |
          The rescue center is an hour away from Phnom Penh and is build at the edge of a protected
          forest. You will spend a day walking through the forest with animals at every turn,
          hearing birds and gibbons singing in the distance.
