#intro.intro
  header.container.has-text-centered
    h1.intro-title Betelnut Tours
    p.intro-subtitle
      |
        Daytrips to the Phnom Tamao wildlife Rescue Center outside
        <strong>Phnom&nbsp;Penh, Cambodia</strong>

    p.intro-warning
      | Until further notice this tour is only available for
      br
      strong groups of at least 5 people
