#nav.nav
  nav.container
    .nav-header Betelnut&nbsp;Tours
    .nav-mobile data-nav-toggle=true
      span
      span
      span
      span

    .nav-content data-nav-close-click=true
      .nav-items
        a href="#phnomtamao" Phnom&nbsp;Tamao
        a href="#thetour" The&nbsp;Tour
        a href="#details" Price&nbsp;&&nbsp;Details
        a href="#about" About&nbsp;us
        a href="#booknow" Book&nbsp;Now!

      .nav-contact
        a href="mailto:hello@betelnut.tours" hello@betelnut.tours
        a href="tel:+85512619924" (+855) 012 619 924
