.overlay data-overlay-close=true
  .overlay-wrapper
    .overlay-header
      .overlay-close data-overlay-close=true ←
      h2 data-overlay-title=true
    .overlay-content.content data-overlay-content=true
