section.section
  .container.is-small
    .columns
      .column.is-fixed
        .image-stack
          .image-stack-content
            =image_tag 'elds_deer.jpg', width: 512, height: 512
            =image_tag 'dara.jpg', width: 512, height: 512
            =image_tag 'mr_lipstick.jpg', width: 512, height: 512

      .column
        .content
          h2 Some details

          p This tour is suitable for all ages, but some effort is required. You wil spend most of your time at the park on foot and you will be in the sun. The animals will make you dirty, the roads are bumpy and if it rains, you get wet. It this doesn't like sound like your idea of a good time, don't do it! However, if you want a special experience, can handle getting hot and dirty and want to meet some amazing people working with incredible animals, this this is the trip for you.

          p The tour takes almost a full day. We organize trips 3 days a week, on Tuesdays, Thursdays and Saturdays. We require at least 2 people to do a tour and we usually take at most 8 people. Single travellers can of course join a group already going and special arrangements can sometimes be made both with regards to the day or to the number of people, so don't hesitate to contact us if that is the case.
          p Pretty much everything you need throughout the day is included for you. This means transport to and from the park, entrance fee, a guided tour, lunch and water. You will also get a kroma (khmer scarf) at the beginning of the day that you can keep.

          p You should wear comfortable footwear. While the terrain isn't very difficult, you will be on your feet a lot. Sandals or slippers are fine. Sunscreen or a hat to protect you from the sun is recommended. Bring clothes that can get dirty. You can of course stay away from the animals to try and stay clean, but where's the fun in that?

          small Fun fact! The first time as a tourguide in training, Vathana wore high heels. Yes, really. You can make fun of her with that if you want. I know I do :) — Aram
