section#phnomtamao.section.is-grey
  .container.is-small
    .content.is-large.is-focused
      h2.has-text-centered Full day trip to the Phnom Tamao Wildlife Rescue Center

      p
        |
          Spend a day at this rescue center, where you will meet <strong>endangered & rescued
          animals</strong> upclose. This rescue center is considered one of the best in Asia. No
          small and dirty enclosures here. All animals are wel take care off and we can tell you all
          about them and their histories.

      p
        |
          The Phnom Tamao Wildlife Rescue Center is home to <strong>over 1,200 animals</strong> and
          is the biggest rescue center in Cambodia. Here you can see an array of native rescued
          wildlife, including Gibbons, Sun Bears, Tigers, Elephants and many more.

      p
        |
          We have been coming here <strong>for 14 years</strong> and we are intimately familiair
          with all the animals. Spend a day outside the city, try some delicious homecooked lunch
          and probably learn about some animals you never even knew existed.
