doctype html
html lang="en"
  head
    meta charset="utf-8"

    - unless build? # Don't send meta tag when building, since the server sens http header
      meta http-equiv="X-UA-Compatible" content="IE=edge"

    meta name="viewport" content="width=device-width,initial-scale=1.0"
    title #{faq.title} | Betelnut Tours

    = stylesheet_link_tag "site"

  body
    #nav.nav.has-return
      nav.container
        = link_to "←", '/index.html', class: 'nav-return'
        .nav-header Betelnut&nbsp;Tours

    article.section
      .container.is-tiny
        .content
          h2 = faq.title

          == Kramdown::Document.new(faq.content).to_html

    .section.is-grey
      .container.is-tiny
        .content
          p = link_to "← Back to homepage", '/index.html'
