doctype html
html lang="en"
  head
    meta charset="utf-8"

    - unless build? # Don't send meta tag when building, since the server sens http header
      meta http-equiv="X-UA-Compatible" content="IE=edge"

    meta name="viewport" content="width=device-width, initial-scale=1"

    title Betelnut Tours | Daytrips to Phnom Tamao Wildlife Rescue Center

    link rel="shortcut icon" href="/favicon.png"

    = stylesheet_link_tag "site"

  body
    .main-content
      = partial 'nav'
      = partial 'intro'
      = partial 'welcome'
      = partial 'highlights'
      = partial 'reviews'
      = partial 'details'
      = partial 'summary'
      = partial 'faq'
      = partial 'about'
      = partial 'contact'
      = partial 'booking'
    = partial 'overlay'

    = javascript_include_tag "site"

    -if config[:google_analytics]
      script
         | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         | })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

         | ga('create', '#{config[:google_analytics]}', 'auto');
         | ga('send', 'pageview');
