doctype html
html lang="en"
  head
    meta charset="utf-8"

    - unless build? # Don't send meta tag when building, since the server sens http header
      meta http-equiv="X-UA-Compatible" content="IE=edge"

    meta name="viewport" content="width=device-width,initial-scale=1.0"
    title Betelnut Tours

    = stylesheet_link_tag "site"

  body
    #nav.nav.has-return
      nav.container
        = link_to "←", '/index.html', class: 'nav-return'
        .nav-header Betelnut&nbsp;Tours

    article.section
      .container
        .columns
          .column
            .content.is-large
              h2 Thanks for your booking!

              p
                |
                  We will contact you within 24 hours to confirm your booking or notify you of any
                  changes.

              p
                | If you want to change something in your booking, you can 
                a href="mailto:hello@betelnut.tours" send us an email
                |  or 
                a href="tel:+85512619924" call us
                |  to let us know.

          .column
            =image_tag 'monkey_riding_deer.jpg', class: 'is-decorated', width: 900, height: 600

    .section.is-grey
      .container.is-tiny
        .content
          p = link_to "← Back to homepage", '/index.html'

    -if config[:google_analytics]
      script
         | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
         | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
         | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         | })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

         | ga('create', '#{config[:google_analytics]}', 'auto');
         | ga('send', 'pageview');
